/* ---------------------------------------------------
    MEDIAQUERIES
----------------------------------------------------- */

@media (max-width: 991px) {
    .side-bar-btn{
        display: none;
    }
    .social-links{
        display: flex !important;
        justify-content:center!important;
      }
      .social-icon{
        height: 30px;
        width: 30px;
        background-color: white;
        margin: 5px;
        border-radius: 100%;
        
      }
    .about{
        width: 100%;
        background-position: right;
        background-size: cover;
        background-repeat: no-repeat;
        border-radius: 3px;
        height: 100%;
        padding: 50px 0px;
     }
     .skills2{
        display: block;
     }
    #sidebar {
      margin-left: -250px;
      position: relative;
      justify-content: flex-start;
      align-items: center;
    }
    .ml{
        margin-left: 0px;
    }
    #sidebar.active {
      margin-left: 0;
    }
    #sidebarCollapse span {
      display: none;
    }
    .lg-dec{
        width: fit-content !important;
    }
    .sidebar-header{
        width: 100%;
        display: flex;
        justify-content:flex-start;
        align-items: center;
    }
      

      .lg-dec{
        width: 100%;
        justify-content:flex-start;
        align-items: center;
        display: flex ;
      }
      
      .dispaly-picture img{
       
        margin-right: 10px;
      }
      .portfolio{
       margin-right: auto !important;
      }
      .navbar{
        padding: 15px 0px !important;
    }
    #sidebar {
        min-width: 200px;
        max-width: 200px;
        padding: 30px 15px !important;
      }
      
    #sidebar {
      margin-left: -200px;
      position: relative;
    }
    .ml{
        margin-left: 0px;
    }
    #sidebar.active {
      margin-left: 0;
    }
    #sidebarCollapse span {
      display: none;
    }
    .name{
        font-size: 14px;
        color: white;
        font-weight: 500;
      }
      .desc{
        font-size: 12px;
        font-weight: 400;
        color: white;
      }
      .main-heading{
        font-size: 14px;
        font-weight: 500;
        color: white;
        
      }
      .skills ul li{
        font-size: 14px;
        color: white;
        font-weight: 400;
        position: relative;
      }
      .p-16{
       font-size: 12px;
       }
       .skills p{
         font-size: 14px;
         color: white;
         font-weight: 400;
       }
       .skills a{
        font-size: 14px;
        color: white;
        font-weight: 400;
      }
      .footer{
        display: flex;
      }
  .portfolio{
    display: none;
  }

.dispaly-picture img{
    height: 40px;
    width: 40px;
    border-radius: 37px;
    border: 3px solid white;
    margin-right: 5px;
  }
  .skills{
    margin-top: 20px;
  }
 }
